extends ../layout

block content
  h1 User: #{user.username}

  p #[strong Username:] #{user.username}
  p #[strong Email:] #{user.email}
  p #[strong Role:] #{user.role}

  hr
  if canUpdateUser
    p
      a(href=`/users/${user.id}/update`) Update User

  if canDeleteUser
    p
      a(href=`/users/${user.id}/delete`) Delete User
